*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* display: flex; */
  height:95vh; 
  /* justify-content: center;
  align-items: center; */
  /* padding: 10px; */
  background-image: url("image/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%) ;
}
.container{
  background-color: #ffff;
  border-radius: 5px;
   padding: 30px 30px; 
   max-width: 500px; 
  width: 100%;
  
}
#rectangle{
  width:100%;
  height:50px;
  background:blue;
  color: white;
  margin-bottom: 10%;
  border-radius: 12px;
  background-color:hsl(248, 32%, 49%);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 11px 2px;
  
  
}
#main-div{
  float: right;
  padding-top: 10%;
  padding-right:20% ;
  width:50%; 
  display:inline-block;
}
#main-div-left{
  float: left;
  padding-top: 10%;
  width:50%; 
  display:inline-block;
}
#main-text{
  padding: 22%;
  color: white;
}
.submit-button{
    width:400px;
    height:50px;
    background-color: hsl(154, 59%, 51%);
    border: none;
    margin-bottom: 10%;
    border-radius: 12px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
  }
  form.form-group{
    margin-bottom: 15px;
    width: calc(100 /2 -20px);
}
.form-group input{
    height: 50px;
    width: 400px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 15px;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    border-color: black;
}
.form-group span{
  color:hsl(0, 100%, 74%)  ;
   font-size: 16px;
   float: right;
}
h1 {
  font-size: 50px;
}

/* .form-group input:valid {
  border-color: black;
}

.form-group input:invalid {
  border: 2px solid red;
  
} */
/* .form-group input:required:focus:valid {
  background-color: black;
  background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
  background-size: 25px;
}
.form-group input:focus:invalid {
  border-color: red;
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% lightsalmon;
  background-size: 25px;
} */
#footer{
  text-align: center;
  color:  hsl(246, 25%, 77%);
 
}




  
